name: DVC Workflow

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.dvc"
      - ".dvc/**"
      - "dvc.yaml"
      - "dvc.lock"

jobs:
  run_data_checker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --dev --locked
          uv run dvc --version

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Pull data with DVC
        run: |
          uv run dvc pull --no-run-cache

      - name: Run data statistics (M19)
        run: |
          uv run python dataset_statistics.py > report.md

      - name: Setup CML
        uses: iterative/setup-cml@v2

      - name: Comment on PR with CML
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create report.md --watermark-title="Data Checker"
